#container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: 
                      ". . ."
                      ". calculator ."
                      ". . .";
}

#calculator-container {
  grid-area: calculator;
  width: 350px;
  height: 400px;
  justify-self: center;
  align-self: center;
  padding: 10px;
  border: 5px solid #61708b;
  border-radius: 15px;
  background-color: rgb(118, 135, 153);
  box-shadow: 5px 5px 5px #515c6e;
}

#calculator {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "screen screen"
                       "numbers operators"
                       "numbers operators"
                       "numbers operators";
}

#screen {
  grid-area: screen;
  width: 325px;
  height: 75px;
  justify-self: center;
  text-align: end;
 
  border: 2px solid #61708b;
  border-radius: 5px;
  background-color: lightgray;
  margin-top: 5px;
}

#text {
  position: relative;
  font-size: 30px;
  right: 10px;
  top: 20px;
}

#number-buttons {
  grid-area: numbers;
  align-self: center;
  width: 200px;
}

#operator-buttons {
  grid-area: operators;
  align-self: center;
  margin-left: 20px;
}

button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 16px;
  box-shadow: 3px 3px 0px #414b5e; 
}

